.bgc-gray500 {
  background-color: $gray500;
}

.bgc-gray600 {
  background-color: $gray600;
}

.bgc-gray700 {
  background-color: $gray700;
}

.bgc-gray800 {
  background-color: $gray800;
}

.bgc-gray900 {
  background-color: $gray900;
}

.bgc-purple900 {
  background-color: $purple900;
}
