.p\+ {
  padding: 48px;
}
.p {
  padding: 24px;
}
.p- {
  padding: 12px;
}
.pv- {
  padding-bottom: 12px;
  padding-top: 12px;
}
.p-- {
  padding: 6px;
}
.ph-- {
  padding-left: 12px;
  padding-right: 12px;
}
.p--- {
  padding: 3px;
}
