/* css color properties: https://developer.mozilla.org/en-US/docs/Web/CSS/color */

.c-white {
  color: white;
}

/* css font properties: https://developer.mozilla.org/en-US/docs/Web/CSS/font */

.fw-700 {
  font-weight: 700;
}

.fz\+ {
  font-size: $spacing-unit-large;
}

/* css text-align properties: https://developer.mozilla.org/en-US/docs/Web/CSS/text-align */

.ta-l {
  text-align: left;
}

/* css vertical-align properties: https://developer.mozilla.org/en-US/docs/Web/CSS/vertical-align */

.va-t {
  vertical-align: top;
}

/* css white-space properties: https://developer.mozilla.org/en-US/docs/Web/CSS/white-space */

.whs-nw {
  white-space: nowrap;
}
