/* css display properties: https://developer.mozilla.org/en-US/docs/Web/CSS/display */

.d-n {
  display: none;
}

/* css overflow properties: https://developer.mozilla.org/en-US/docs/Web/CSS/overflow */

.ov-h {
  overflow: hidden;
}

/* css position properties: https://developer.mozilla.org/en-US/docs/Web/CSS/position */

.pos-r {
  position: relative;
}
